/* ===================================================================================
    HW-Shared CSS Stylesheet for design2 general page, header, footer, and sidebars
   =================================================================================== */

body {
	background-color: #CCCCCC;
	width: 1000px;
	/*padding-top: 10px;*/
	margin: 0 auto;
	font-size: 100%;
}
div.hw-gen-page {
	font-family: "Lucida Sans Unicode", Arial, "Lucida Grande", Tahoma, Verdana, Helvetica, sans-serif;
	color: #403838;
	width: 960px;
	margin: 10px auto 0 auto;
	padding: 0;
	position: relative;
	background-color: white;
	/*
	background-image: url(/shared/img/standard-design/design2/corner.gif);
	background-repeat: no-repeat;
	background-position: top right;
	*/
}

/* ============================================
    global default link styles
   ============================================ */
div.hw-gen-page a, div.hw-gen-page a:link {
	text-decoration: none;
	color: #202088;
}
div.hw-gen-page a:visited {
	text-decoration: none;
	color: #581858;
}
div.hw-gen-page a:hover {
	text-decoration: none;
	border-bottom: 1px dotted #202088;
	color: #202088; 
	text-decoration:none;	
}
div.hw-gen-page a:active {
	text-decoration: none;
	color: #202088;
}

/* --------------------------------------------
    header/footer default link styles
   -------------------------------------------- */
#header a, #header a:link,
#footer a, #footer a:link {
	color: #404040;
	border: none;
}
#header a:visited,
#footer a:visited {
	color: #404040;
	border: none;
}
#header ul.button-list a:hover,
#header div.header-ac-elements a:hover,
#header div.header-qs a:hover,
#footer a:hover {
	color: #404040;
	border-bottom: 1px dotted #404040;
	text-decoration:none;
}

#header a:active,
#footer a:active {
	color: #404040;
	border: none;
}



/* --------------------------------------------
    sidebar columns default link styles
   -------------------------------------------- */
#col-2 a, #col-2 a:link,
#col-3 a, #col-3 a:link {
	color: #404040;
}
#col-2 a:visited,
#col-3 a:visited {
	color: #581858;
}
#col-2 a:hover,
#col-3 a:hover {
	border-bottom: 1px dotted #404040;
	color: #404040; 
	text-decoration:none;
}
#col-2 a:active,
#col-3 a:active {
	color: #404040;
}

/* --------------------------------------------
    sidebar columns specific link styles
   -------------------------------------------- */
#col-3 ul.cover-announce a, #col-3 ul.cover-announce a:link,
#col-3 ul.cover-announce a:visited {
	color: #2f5085;
}
#col-3 ul.cover-announce a:hover {
	color: #2f5085;
	border-bottom: 1px dotted #2f5085;
	text-decoration:none;
}
#col-3 ul.cover-announce a:active {
	color: #2f5085;
}

div.sidebar a:hover {
    text-decoration:none;
}


/* ============================================
    other styles for global design elements
   ============================================ */

/* --------------------------------------------
    header elements
   -------------------------------------------- */

div#header {
	width: 960px;
  background-image: url(/shared/img/standard-design/design2/corner.gif);
	background-repeat: no-repeat;
	background-position: top right;
	border-bottom: none;
	 /*font-size: 66.67%; /*8pt; /*em sizes fail in ie6*/
	margin-top: 0;
}

#header #main-logo {
/*width and height determined by image*/
	border: none;
	margin: 15px 0 0 24px;
	z-index:1;
}

#header #journal-title {
	margin:15px 0 0 24px;
	position:absolute;
	left:0;
	top:0;
	z-index:-1;
}

.about-the-journal{
	margin:30px 0px 0px 0px;
	font-size: 0.95em;
	font-weight: normal;
}


#header ul.home-page-ads {
	position: absolute;
	top: 0;
	left: 450px;
	width: 250px;
	margin: 1.5em 0 35px 0;
	padding: 5px 10px;
	list-style: none;
}
#header ul.home-page-ads li {
	margin: 0;
	padding: 0;
	text-align: center;
	width: 250px;
	height: 40px;
}
#header ul.home-page-ads li img {
	background-color: #e0e0e0;
	width: 250px;
	height: 40px;
	border: 1px solid #aaaaaa;
	display: block;
}


#header .banner-ads {
	position: absolute;
	top: 0;
	left: 450px;
	width: 250px;
	margin: 1.5em 0 35px 0;
	padding: 5px 10px;
	list-style: none;
}

#header.banner-ads ul {
	list-style-type:none;
}
#header .banner-ads li {
	margin: 0;
	padding: 0;
	text-align: center;

}

#header .banner-ads li img {
	background-color: #e0e0e0;
	border: 1px solid #aaaaaa;
	display: block;
}



#header .header-buttons {
	list-style: none;
	margin-top: 5px;
	margin-right: 0px;
	margin-left: 24px; /*same margin left as main-logo*/
	margin-bottom: 8px; /*coordinate margin-bottom with header-qs absolute position*/ 

	padding: 0;
}
#header .header-buttons, #header .header-buttons a {
	color: #0083A8; /*override in local*/
}
#header .header-buttons li {
	display: inline;
	border-left: 1px solid #666666;
	margin: 0;
	padding: 0 .4em 0 .4em;
}
#header .header-buttons li span {
	font-size: 87.5%;
	font-weight: bold;
}
#header .header-buttons li.first {
	border-left: none;
	padding-left: 0;
}

#header .corner {
	position: absolute;
	right: 0;
	top: 0;
}

/* ac blocks */

#header .inst-branding, #header #hdr-login, #header .header-qs {
	border-left: 1px dashed #c8c8c8;
}

#header .inst-branding {
	position: absolute;
	/*960 minus 210 minus 1  left: 749px;*/
	/*960 minus 203 minus 1 */ left: 756px;
	top: 0px;
	height: 30px;
	padding-left: 5px;
}

#header #authstring {
	position: absolute;
	left: 0%;
	display: block;
	width: 756px;
	padding-top: 5px;
	text-align: center;
	line-height: 100%;
}
#header #authstring {
	color: white;
}
                   		     
#header #authstring li {
	list-style: none;
	border: none;
	padding: 2px;
	font-size: 87.5%;
}
#header #authstring a {
	color: white;
}


#header #hdr-login {
	position: absolute;
	/*0 plus inst-branding height*/ top: 30px;
	/*960 minus 210 minus 1 left: 749px;*/
	/*960 minus 203 minus 1*/ left: 756px;
	/*bottom padding or margin overlaid 
        by absolute-positioned qs. Some bottom
	padding needed for dashed line to reach qs box.*/
	padding: 0 0 5px 10px;
}

#header #hdr-login form label,
#header #hdr-login input {
	font-size: 87.5%;
	white-space: nowrap;
}

#header #hdr-login {
	color: #0083A8; /*override in local*/
}

#header #hdr-login label {
	width: 80px;
	display: block;
	padding: 5px 0 2px 0;
	margin: 0;
	font-size: 87.5%;	
}
#header #hdr-login input, #header .header-qs input {
	width: 110px;
	height: 15px;
	padding: 0;
	font-size: 87.5%;
}
#header #hdr-login input#hdr-login-signin /*the login gif*/ {
	height: auto;
	width: auto;
	padding: 0px 0 0px 5px;
	vertical-align: bottom;
}

#header .bar, #footer .bar {
	/*body width minus padding*/
	width: 980px;
	height: 60px;
	margin-left:-20px;
	padding-left: 20px;
}

#header .bar, #footer .bar {
	background-color: #0083A8; /*override in local*/
}	

#header .bar-inner {
	width: 960px;
	height: 60px;
	color: white;
}
#header .bar-inner, #footer .footer-group {
	background-color: #00A0CC; /*override in local*/
}
#header .header-qs {
	display: block;
	position: absolute;
	top: 112px; /*coordinate change with header-button margin-bottom*/
/***verions 1****/
	/*left: 749px;*/ /*960 -210 -1*/
	/*width: 200px; 210 minus padding*/
/***version 2***/
	left: 756px; /*960 -203 -1*/
	width: 195px; /*205 minus padding*/

	margin: 0;
	padding: 10px 5px 7px 10px;
	height: 40px;
	z-index: 1;
}	

#header .header-qs label, #header #hdr-login-signin-label, #header #header-qs-search-label {
        position: absolute; left: -9999px; /*508 labels only -- not visible*/
}
#header .header-qs a {
	color: white;
	line-height: 1.5;
	font-size: 87.5%;
	white-space: nowrap;
}

#header div.adv-search-link a:hover {
	color:white;
	border-bottom: 1px dotted white;
}

#header div.adv-search-link a:visited, #header div.adv-search-link a:active, #header div.adv-search-link a:link {
	color:white;
}

#header .header-qs input#header-qs-search-go {
	width: 27px;
	height: auto;
	vertical-align: bottom;
	margin-left: 0.5em;
}



/* for 3-col layout */
#content-block {
	float: left;
	width: 518px; /* 533 */
	padding: 0px 20px 0px 5px;
}
#col-2, #col-3 {
margin:0px;
padding:0px;
}
#col-2 {
	width: 200px;
	overflow: hidden;
	float: left;
	border-right: 1px dashed #aaaaaa;
	padding-right:13px;
	margin:0px;
}

#content-block {
	color: #403838;
	background-color: white;

}
/* for 3-col layout on proxied pages */
.pagetype-proxied #content-block {
	padding:0px;
	width:756px;
	border-right: 1px dashed #aaaaaa;
}

/* for 3-col layout on proxied pages with proxied column 2 */

#proxied-contents.proxied-column-display #col-main {
	width:518px;
    padding-right: 10px;
    float: left;
    overflow: hidden;
}

#proxied-contents.proxied-column-display #col-2 {
	border-right:0px solid;
    float: left;
}

/* Normally, put a 10px right padding on proxied content.  This is so text doesn't run smack into col-3 */
#proxied-contents {
    padding-right: 10px;
    padding-left: 15px;
}

/*If we're *also* proxying a col2, remove that padding.  This is so the proxied col2 will lie flush against the native col3  */
#proxied-contents.proxied-column-display {
    padding-right: 0px;
}

#proxied-contents.proxied-column-display  .search-nav a {
    color: black;
	font-weight:normal;
}

/* overrides to make proxied pages look like normal ones and eliminate dancing banners and headings  */
.pagetype-proxied #header .banner-ads ul{
	margin:1em 5%;
}

.pagetype-proxied #col-3 .content-box h3 {
	font-size:1.2em;
	margin:0px;
	padding:0.3em 0px;
}

#proxied-contents th {
    font-weight: bold;
}

#proxied-contents table {
    line-height: 110%;
} 

#proxied-contents td,tr,th,p,ol,ul {
    margin: 0; 
    padding: 0;
}

#proxied-contents h1, h3, dl, dt, dd {
    text-align: left;
    line-height: 120%;
}

/* Ugh, this is hackery, but it's the only way I can figure out how to do this without screwing everything else up */
#proxied-contents .proxied-collections h1 {
    margin-top: 0.5em;
}

#proxied-contents#col-3 h1, h3, dl, dt, dd {
line-height:100%;
text-align:left;
}

#proxied-contents #col-3 p, pre, label, ul, ol, dl, fieldset, address {
margin:1em 5%;
}

#col-2 #cb-art-nav li {
	margin-top: .4em
}

#col-2 div.sidebar-issue-nav, #col-2 div.article-nav, #col-2 div.search-nav {
	margin: 5px 0 0 5px;
}

#col-3 {
	width: 203px; /*210 minus pub-link indent*/
	margin: 0px;
	padding: 0px;
	float: left;
	text-align: left;
	overflow: visible;
}
#col-3 {
	background-color: white;
}
#col-3 * {
	position: static;
}
#col-3 div {
	margin:0;
	padding:0;
}

div.content-box a:link,
div.content-box a:visited,
div.content-box a:hover,
div.content-box a:active
{
	color: #404040;
	text-decoration: none;
}


#col-3 ul.pub-links li a:link,
#col-3 ul.pub-links li a:visited,
#col-3 ul.pub-links li a:hover,
#col-3 ul.pub-links li a:active,
#col-3 ul.ex-pub-links li  a:link,
#col-3 ul.ex-pub-links li a:visited,
#col-3 ul.ex-pub-links li a:hover,
#col-3 ul.ex-pub-links li a:active
{
	text-decoration: none;
	border-bottom: 0px;
}

#col-3 ul.pub-links {
	position: relative;
	overflow: hidden;
/***version 1****/
	/*left: -11px;*/
/***version 2****/
	left: -7px;
	padding: 0;
	margin: 10px 0;
}
#col-3 ul.pub-links {
	list-style: none;
}
#col-3 ul.pub-links, #col-3 ul.pub-links li a {
	color: #0083A8; /*override in local*/
}

#col-3 ul.pub-links li {
	position: static;
	margin: 0;
	padding: 10px 5px 10px 4px;
	border: 1px dashed #aaaaaa;
	border-bottom: none;
	font-size: .85em;
	font-weight: bold;
	background-color: white;
	
}
#col-3 ul.pub-links li a {
	background-image: url(/shared/img/standard-design/design2/jnl-link-bullet.gif);
	background-repeat: no-repeat;
	background-position: top left;
	padding-left: 1em;
	display: block;
	line-height:1.2
}
#col-3 ul.pub-links li.last {
	border-bottom: 1px dashed #aaaaaa;
}

#col-3 .sidebar-icon-group {
	padding: 20px;
}

#col-3 .sidebar-icon-group  a:hover{
	border-bottom: 0px solid;
}

#col-3 ul.ex-pub-links {
	position: relative;
	overflow: hidden;
	left: -7px;
	padding: 0;
	margin: 10px 0;
}
	
#col-3 ul.ex-pub-links {
	list-style: none;
}
#col-3 ul.ex-pub-links, #col-3 ul.ex-pub-links li a {
	color: #0083A8; /*override in local*/
}

#col-3 ul.ex-pub-links li {
	position: static;
	margin: 0;
	padding: 10px 5px 10px 4px;
	border: 1px dashed #aaaaaa;
	border-bottom: none;
	font-size: 75%; /*.75em; /*10pt;*/
	font-weight: bold;
	background-color: white;
}
#col-3 ul.ex-pub-links li a {
	background-image: url(/shared/img/standard-design/design2/jnl-link-bullet.gif);
	background-repeat: no-repeat;
	background-position: top left;
	padding-left: 1em;
	display: block;
	line-height:1.2
}
#col-3 ul.ex-pub-links li.last {
	border-bottom: 1px dashed #aaaaaa;
}


#col-3  ul.tower-ads  {
	list-style-type: none;
	list-style-image: none;
	margin:0em;
	padding:0em;
}
	

#col-3  ul.tower-ads li  img{
	display: block;
	margin-top: 0em;
	margin-bottom: 0.5em;
	margin-right:auto;
	margin-left:auto;
	padding:0px
}



/*deprecating and replacing with sidebar-icon-group*/
#col-3 .publisher-icon {
	/*padding: 20px;*/
}

#footer {
	width: 960px;
	text-align:left;
}
#footer {
	padding-bottom: 20px;
	background-color: white;
	clear: both;
	background-image: url(/shared/img/standard-design/design2/dash.gif);
	background-repeat: repeat-y;
	background-position: 756px 0px; /*960 minus 203 minus 1*/
	
}

#footer ul {
	list-style: none;
	font-size: 80%;
}
#footer .bar {
	position: static;
	clear: both;
}
#footer .footer-group {
	height: 60px;
	color: white;
	font-weight: bold;
}

#footer .footer-group p {
	padding: 10px 10px;
}

#footer .footer-col-left {
	float: left;
	width: 756px; /*960 minus 203*/
	border-right: 1px dashed #c8c8c8;
}

#footer .footer-col-right {
	float: left;
/***version 1****/
	/*width: 210px;*/
/***version 2****/
	width: 203px;
}
#footer .footer-col-right ul {
	list-style: none;
	padding: 8px 0 0 0; /*ff*/
	margin: 0; /*ie*/
	display: block;
}
#footer .footer-col-right li {
	border: none;
	text-align: left;
	padding: 4px 10px;
	display:block;
}

#footer .copyright {
	font-size: 80%;
	margin: 1em auto;
}

#footer a:hover {
	color:white;
	border-bottom: 1px dotted white;
}

/* offscreen elements */
#skip-link {
	position: absolute;
	left: -9999px;
}

#header #hdr-login{
    height: 75px;
}

div.hw-gen-page .view-more {
border:1px solid gray;
}
/** ? **/
#header #hdr-login label#hdr-login-signin-label{
    display:inline;
}

#pageid-futurecontents .toc-cit h4 {display: block;padding-left: 40px;}

/* proxied tables */
#proxied-contents table.tborder1,#proxied-contents  table.tborder1 td {
border:1px solid #333333;
}

table tr td[align="right"] {text-align:right;}
table tr td[align="left"] {text-align:left;}
table tr td[align="center"] {text-align:center;}
table tr td[valign="middle"] {vertical-align:middle;}
table tr td[valign="top"] {vertical-align:top;}
table tr td[valign="bottom"] {vertical-align:bottom;}
#proxied-contents  table[cellpadding="6"] tr td,
#proxied-contents  table[cellpadding="5"] tr td  {padding:3px;}
#proxied-contents  table[cellpadding="4"] tr td {padding:2px;}
#proxied-contents  table[cellpadding="3"] tr td {padding:2px;}
#proxied-contents  table[cellpadding="2"] tr td,
#proxied-contents  table[cellpadding="1"] tr td {padding:1px;}
