body {
  font-family: Arial, Helvetica, sans-serif;
  color: #303030;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.ref, .figure_ref {
  color: Blue;
  user-select: none;
  padding-left: 2px;
  padding-right: 2px;
}

.ref:hover, .figure_ref:hover {
  background-color: #F0F8FF;
  border-radius: 5px;
}

.section-title, .subsection-title, .fig-cap {
  font-weight: bold;
  user-select: none;
  border: 2px solid #EEEEEE;
  border-radius: 5px;
  color: #909090;
  margin-top: 5px;
  padding-left: 10px;
}

.section-title {
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.subsection-title {
  font-size: 24px;
  padding-top: 5px;
  padding-bottom: 5px;
}

ol {
  font-size: 20px;
  padding-left: 10px;
}

li {
  margin-bottom: 10px;
}

table {
  font-size: 20px;
  padding-left: 10px;
}

th, td {
  border-bottom: 1px solid #ddd;
}

.active, .section-title:hover, .subsection-title:hover, .fig-cap:hover {
  background-color: #F0F8FF;
}

.active {
  color: RoyalBlue;
}

.section-content, .subsection-content {
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

figure {
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.fig-leg {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.fig-img {
  flex-shrink: 0;
  align-self: center;
}

.fig-details {
  flex-grow: 1;
  flex-basis: 45%;
  align-self: center;
  margin-left: 20px;
}

.fig-cap {
  padding: 5px;
  margin-bottom: 15px;
}
