body {
  font-family: Arial, Helvetica, sans-serif;
  color: #303030;
  overflow-x: hidden;
}

ol {
  margin-left: 20px;
}

.article {
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  transition: margin-left .5s;
}

.ref, .figure_ref {
  color: Blue;
  user-select: none;
  padding-left: 2px;
  padding-right: 2px;
  position: relative;
  display: inline-block;
}

.ref:hover, .figure_ref:hover {
  background-color: #F0F8FF;
  border-radius: 5px;
}

.ref-tip {
  visibility: hidden;
  Z-index: 1;
  color: #303030;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 20vw;
  font-size: 12px;
  top: 100%;
  left: -10vw;
  background-color: white;
  opacity: 0;
  transition: opacity 0.3s;
}

.ref:hover .ref-tip, .ref-tip.active, .ref-tip:hover {
  visibility: visible;
  opacity: 1;
}

.ref-tip-con {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  border-bottom: 1px solid aliceblue;
}

.ref-tip-con:hover {
  background: aliceblue;
}

.ref-tip-label {
  color: Blue;
  font-weight: bold;
  font-size: 14px;
}

.section-title, .subsection-title, .fig-cap {
  Z-index: 0;
  font-weight: bold;
  user-select: none;
  border: 2px solid #EEEEEE;
  border-radius: 5px;
  color: #909090;
  margin-top: 5px;
  padding-left: 10px;
}

.section-title {
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.subsection-title {
  font-size: 24px;
  padding-top: 5px;
  padding-bottom: 5px;
}

ol {
  font-size: 20px;
  padding-left: 10px;
}

li {
  margin-bottom: 10px;
}

table {
  font-size: 20px;
  padding-left: 10px;
}

th, td {
  border-bottom: 1px solid #ddd;
}

.section-title.active, .subsection-title.active, .fig-cap.active, .section-title:hover, .subsection-title:hover, .fig-cap:hover {
  background-color: #F0F8FF;
}

.section-title.active, .subsection-title.active, .fig-cap.active {
  color: RoyalBlue;
}

.section-content, .subsection-content {
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.section-content.active, .subsection-content.active {
  overflow: visible;
  transition: max-height 0.2s ease-out;
}

figure {
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.fig-leg {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.fig-img {
  flex-shrink: 0;
  max-width: 90vw;
  align-self: center;
}

.fig-details {
  flex-grow: 1;
  flex-basis: 45%;
  align-self: center;
  margin-left: 20px;
}

.fig-cap {
  padding: 5px;
  margin-bottom: 15px;
}

.sidenav {
  Z-index: 2;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  border: 2px solid #EEEEEE;
  width: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.2s;
}

.sidenav:hover {
  width: calc(max(200px, 20vw));
}

.sidenav-linkcon:hover {
  background-color: aliceblue;
}

.sidenav-linkcon {
  border: 1px solid #EEEEEE;
  display: flex;
  height: 60px;
  text-overflow: ellipsis;
}

.sidenav-linkcon.active {
  background-color: #f9ff85;
}

.sidenav-x:hover {
  background-color: #ADD8E6;
}

.sidenav-x {
  font-size: 36px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  width: 60px;
  height: 52px;
  user-select: none;
}

.sidenav-link {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  overflow-y: hidden;
  user-select: none;
}
