/*****************************************************************
 * Figures & Tables
 *****************************************************************/
.callout {
	display: block;
}

div.callout ul.callout-links, 
div.callout ul.fig-services {
    margin: 0.2em 0em;
}

div.callout .callout-links li,
div.callout .fig-services  li {
	display: inline;
	margin-left: 0;
	list-style: none;
} 
div.callout .callout-links li a,
div.callout .fig-services  li a
 {
	margin-left: .2em;
	padding-left: 9px;
	background-image: url(../../shared/img/misc/rightchevron.gif);
	background-position: 0px center;
	background-repeat: no-repeat;
}

div.callout .callout-links li a,
div.callout .fig-services li a  {
	color: #660033;
	white-space: nowrap;
}

/* .article-figure, .article-table {*/
div.article .fig, div.article .table {
	/*margin:1em 2em 1em 2em;*/
	margin:1em 20px 1em 20px;
	clear:both;
}
/* new-window links need to be programmatically activated (by JS) */
div.fig a.in-nw {
	display: none;
}
div.fig a.in-nw-vis {
	display: inline;
}
.fig-inline, .table-inline {
	font:.85em "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, Arial, Helvetica, sans-serif;
	border:1px dotted #999;
	background-color:white;
	height:auto;
	width:225px;
	padding:1em;
	/*margin:1em 1em .5em 1em;*/
	margin:1em 5px 1em 10px;
	text-align:center;
	float:left;
}

div .subsection {
clear:both;
}

.video-inline {
	width: auto;
}

.inline-expansion {
	width: 440px;
}
.fig-caption, .table-caption {
	background-color:#eee;
	padding:.25em 1em;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #aaa;
	border-right: 1px solid #aaa;
	padding-top: 1em;
}
.fig-caption p, .table-caption p,
.fig-caption span, .table-caption span,
.media-caption p, .media-caption span {
	text-align: left;
}
div.section  span.disp-formula,
.article  span.disp-formula,
.table-expansion span.disp-formula  {
	display: block;
	text-align: center;
	padding: .5em 0;
	overflow:auto; 
	overflow-x:auto; 
	overflow-y:hidden; 
	padding-bottom:15px; 
}

div.section  span.chem-struct,
.article  span.chem-struct {
	display: block;
	text-align: center;
	padding: .5em 0;
	overflow:auto; 
	overflow-x:auto; 
	overflow-y:hidden; 
	padding-bottom:15px; 
}

div.caption-clear,
br.caption-clear {
	clear:both;
}
.fig-label, .table-label, .media-label {
	font-weight: bold;
}
/* handling for display figures (diff from expansion figures) */
.pos-anchor .fig-inline {
	width: 440px;
	padding: 8px;
}

.fig-caption ol {list-style-position: inside;}
.fig-caption ol li{margin-bottom:1em;margin-left:0;}
.fig-caption ol li p:first-child {display:inline;}

div.section  span.disp-formula.mj,
.article  span.disp-formula.mj  {
	overflow-x:hidden; 
}

div#content-block div.article div.fig-inline-video {
	width:auto;
	font:.85em "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, Arial, Helvetica, sans-serif;
	height:auto;
	padding-top:0px;
	margin:0;
	text-align:center;
	clear:both;
	background-color:#eee;
	border:1px solid #ccc;
}
div#content-block div.article div#play-in-place {
	width:auto;
	font:.85em "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, Arial, Helvetica, sans-serif;
	height:auto;
	padding-top:5px;
	margin:0;
	text-align:center;
	clear:both;
  padding: 1em;
  background-color:#fff;
  text-align: center;
}
div.article div#play-in-place object {
  padding: 0;
  background-color: white;
  border: none;
}
div#content-block div.article div.fig-inline-video-img-pop-out span.fig-inline-video-img-pop-out{
	display:block;
	font-size:125%;
}
div#content-block div.article div.fig-inline-video-img-pop-out {
	width:450px;
	height:auto;
	padding-top:5px;
	margin:0;
	text-align:center;
	background-color:#fff;
}
div#content-block div.fig-inline-video div#play-in-place span.inline-video-attrib {
display:block;
}
div#content-block div.fig-inline-video div#play-in-place span.inline-video-permission {
display:block;
}
div#play-in-place span.inline-video-attrib {
	display:block;
}
div#col-2 div#article-cb-main.content-box div.cb-contents div.cb-section ol li div.fig-inline-video-img-pop-out {
  margin:0px;
}
/* is a figure media */
div#content-block div.fig-inline-video div#play-in-place {
  background-color:#eee;
}
div#content-block div.article div.fig-inline-video div.fig-inline-video-img-pop-out {
  background-color:#eee;
}
div#content-block div.article div.fig-inline-video div.fig-caption span.inline-video-permission {
	display: block;
	text-align:center;
}
div#content-block div.article div.fig-caption span.inline-video-permission {
	display: block;
	text-align:center;
}
div#content-block div.article div.fig-caption span.inline-video-attrib {
	display: block;
	text-align:center;
}
