/* table handling css */

div.hide-cols div.pagetype-content div.table-expansion table,
div.hide-cols div.pagetype-content div.table-wrapper table {
	border-collapse: collapse;
	white-space: nowrap;
}
div.pagetype-content div.table-expansion table th,
div.pagetype-content div.table-expansion table td,
div.pagetype-content div.table-wrapper table th,
div.pagetype-content div.table-wrapper table td {
	font-family: monospace;
	padding: 2px 4px;
	border: 1px solid #c0c0c0;
	border-left-color: #e8e8e8;
	border-right-color: #e8e8e8;
}
div.pagetype-content div.table-expansion table th,
div.pagetype-content div.table-wrapper table th {
	/*border-top-width: 2px;*/
	border-bottom-width: 2px;
	font-weight: bold;
}
div.pagetype-content div.table-expansion table,
div.pagetype-content div.table-wrapper table {
	border: 2px solid #c0c0c0;
	border-top-width: 1px;
}

div#pageid-data-supp div#content-block div.table-wrapper {
	border: none;
}

div.pagetype-content div.table-expansion table .xref-bibr {font-size:.8em;vertical-align:super;color:	#403838;}
div.pagetype-content div.table-expansion table .xref-bibr:hover {border-bottom:none;color: #403838;}