/*****************************************************************
 * Integrated Data Supplements
 *****************************************************************/
#content-block div.supplementary-material {
    background-color: #dedede;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 15px;
}

#content-block div.supplementary-material.collapsible {
    padding: 0;
}

#content-block div.supplementary-material .collapsible.init-closed:hover {
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
}

#content-block div.supplementary-material .collapsible.init-closed:active {
    position:relative;
    top:1px;
    -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    border-color:#80a9da;
}

#content-block div.supplementary-material .hide {
    display: none;
}

#content-block div.supplementary-material .hide.show {
   padding: 0 20px;
}

#content-block div.supplementary-material h3 {
    font-size:1em;
    line-height: 1.4em;
}

#content-block div.supplementary-material h3.collapsible {
    cursor: hand; 
    cursor: pointer;
}

#content-block div.supplementary-material h3.collapsible.init-closed,
#content-block div.supplementary-material h3.collapsible.init-closed.show {
    background:#999;
    background-image: url('/shared/img/content/int-data-supp-closed.png'); /* fallback */
    background-image: url('/shared/img/content/int-data-supp-closed.png'), -webkit-gradient(linear, left top, left bottom, from(#999), to(#ccc)); /* Saf4+, Chrome */
    background-image: url('/shared/img/content/int-data-supp-closed.png'), -webkit-linear-gradient(top, #999, #ccc); /* Chrome 10+, Saf5.1+ */
    background-image: url('/shared/img/content/int-data-supp-closed.png'),    -moz-linear-gradient(top, #999, #ccc); /* FF3.6+ */
    background-image: url('/shared/img/content/int-data-supp-closed.png'),     -ms-linear-gradient(top, #999, #ccc); /* IE10 */
    background-image: url('/shared/img/content/int-data-supp-closed.png'),      -o-linear-gradient(top, #999, #ccc); /* Opera 11.10+ */
    background-image: url('/shared/img/content/int-data-supp-closed.png'),         linear-gradient(top, #999, #ccc); /* W3C */
    background-image: url('/shared/img/content/int-data-supp-closed.png'), -webkit-gradient(linear,left top,left bottom,color-stop(#999,0),color-stop(#ccc,1));
    border:1px solid #999;
        
    background-repeat: no-repeat;
    background-position: 4px 4px;
    
    background-image:url('/shared/img/content/int-data-supp-closed.png'), -moz-linear-gradient(top, #999 0%, #ccc 100%);
    background:-o-linear-gradient(top, #999 0%, #ccc 100%);
    background:linear-gradient(top, #999 0%, #ccc 100%);
    
    padding-left:27px;
    height:20px;
    display:inline-block;
    position:relative;
    border: none\9;
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
    box-shadow: none\9;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    float:left;
    clear:both;
    margin: -4px 0 10px 0px;
    overflow:hidden;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
    padding-top:5px;
    display:block;
    white-space:nowrap;
    text-shadow:0px 1px 1px rgba(255,255,255,0.3);
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
    width: 470px;
}

#content-block div.supplementary-material h3.collapsible.init-closed.show {
    background:#999;
    background-image: url('/shared/img/content/int-data-supp-open.png'); /* fallback */
    background-image: url('/shared/img/content/int-data-supp-open.png'), -webkit-gradient(linear, left top, left bottom, from(#999), to(#ccc)); /* Saf4+, Chrome */
    background-image: url('/shared/img/content/int-data-supp-open.png'), -webkit-linear-gradient(top, #999, #ccc); /* Chrome 10+, Saf5.1+ */
    background-image: url('/shared/img/content/int-data-supp-open.png'),    -moz-linear-gradient(top, #999, #ccc); /* FF3.6+ */
    background-image: url('/shared/img/content/int-data-supp-open.png'),     -ms-linear-gradient(top, #999, #ccc); /* IE10 */
    background-image: url('/shared/img/content/int-data-supp-open.png'),      -o-linear-gradient(top, #999, #ccc); /* Opera 11.10+ */
    background-image: url('/shared/img/content/int-data-supp-open.png'),         linear-gradient(top, #999, #ccc); /* W3C */
    background-image: url('/shared/img/content/int-data-supp-open.png'), -webkit-gradient(linear,left top,left bottom,color-stop(#999,0),color-stop(#ccc,1));
    background-repeat: no-repeat;
    background-position: 4px 4px;
}

